  h2{
            background-color: rgb(73, 18, 98);
            color:blue
        }

          
        div,span{
            color: rgb(225, 36, 140);
            background-color: black;

        }
